# ==============================================================================
# Below we forbid everything and only allow what we know, that's much easier
# than blocking about 500 different test files and bug report outputs.
# ==============================================================================
/.*
/*
!/.gitignore
!/build.bat
!/launcher.cpp
!/launcher.pro
!/launcher-manifest-chrome.json
!/launcher-manifest-firefox.json
