# ==============================================================================
# Below we forbid everything and only allow what we know, that's much easier
# than blocking about 500 different test files and bug report outputs.
# ==============================================================================
/.*
/*
!/out
!/sources
!/json2nsh.py
!/nsh2json.py
!/nshutil.py
