html {
    box-sizing: content-box !important;
}

html, body {
    height: auto !important;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

.disabled {
    pointer-events:none; // This makes it not clickable
    background-color: transparent;
    color: #aaaaaa;
}

ul {
    margin: 1.5ex;
    margin-right: 2ex;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    list-style-type: none;
    min-width: 14em;
}

li {
    display: flex;
    margin: 0;
    padding: 1ex;
    font-size: 110%;
    vertical-align: center;
    align-items: center;
    border-radius: 4px;
    cursor: default;
    white-space: nowrap;
    transition: 0.1s;
}

hr {
    border-top: 1px solid #dddddd;
}

li.separator {
    display: inline-block;
    padding: 0;
}

li:not(.separator):hover {
    background: Highlight;
    color: HighlightText;
    cursor: pointer;
}

li>.icon,
li>img {
    font-size: 16px;
    line-height: 16px;
    margin-right: 1ex;
    width: 16px;
    height: 16px;
    object-fit: contain;
}
