# ==============================================================================
# Below we forbid everything and only allow what we know, that's much easier
# than blocking about 500 different test files and bug report outputs.
# ==============================================================================
/.*
/*
!/3rd
!/data
!/doc
!/include
!/src
!/test
!/.gitignore
!/.travis.yml
!/CMakeLists.txt
!/DownZemAll.pro
!/DownZemAll_config.pri
!/doxyfile
!/doxygenMain.cpp
!/LICENSE
!/README.md
!/TROUBLESHOOTING
!/version


# =======================================
# Reject some generic files
# =======================================
*~
*.rej
*.orig
*.bak

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
# *.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# =======================================
# And reject some specific files
# =======================================
/scripts

