html {
    box-sizing: content-box !important;
}

html, body {
    height: auto !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0px;
    padding: 0px;
}

.alert {
    padding: 1px 12px;
    border-left: 6px solid;
}

.alert-success {
    color:#3c763d;
    background-color:#dff0d8;
    border-color:#d6e9c6
}

.alert-success.alert-link {
    color:#2b542c
}

.alert-info {
    color:#31708f;
    background-color:#d9edf7;
    border-color:#bce8f1
}
.alert-info.alert-link {
    color:#245269
}

.alert-warning {
    color:#8a6d3b;
    background-color:#fcf8e3;
    border-color:#faebcc
}
.alert-warning.alert-link {
    color:#66512c
}

.alert-danger {
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1
}
.alert-danger.alert-link {
    color:#843534
}

.disabled {
    pointer-events:none; /* This makes it not clickable */
    background-color: transparent;
    color: #aaaaaa;
}

ul {
    margin: 1.5ex 2ex 1.5ex 1.5ex;
    padding: 0px;
    display: grid;
    -webkit-grid-template-columns: auto;
    grid-template-columns: auto;
    list-style-type: none;
    min-width: 14em;
}

li {
    margin: 0px;
    padding: 1ex;
    font-size: 110%;
    align-items: center;
    border-radius: 4px;
    cursor: default;
    white-space: nowrap;
    transition: all 0.1s ease 0s;
}

hr {
    border-top: 1px solid #dddddd;
}

a, a:visited {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #ff5500;
    text-decoration: underline #ff5500;
}

li.separator {
    display: inline-block;
    padding: 0px;
}

li.website {
    display: inline-block;
    padding: 0px;
    text-align: center;
    font-size: 14px;
}

li.website:hover {
}

li:hover:not(.separator):not(.website) {
    background: highlight;
    color: highlighttext;
    cursor: pointer;
}

li > .icon,
li > img {
    font-size: 16px;
    line-height: 16px;
    margin-right: 1ex;
    width: 16px;
    height: 16px;
    object-fit: contain;
}
