[Desktop Entry]
Version=1.0
Type=Application
Name=DownZemAll
Comment=The Right Mass Downloader
Comment[en]=The Right Mass Downloader
Comment[fr]=Le parfait téléchargeur de masse
Exec=/ABSOLUTE/PATH/TO/APP/DIRECTORY/../DownZemAll %U
Icon=/ABSOLUTE/PATH/TO/APP/DIRECTORY/icon_DZA_64px64px.png
