html, body {
  font-size: 11pt !important;
}

body, html {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif;
  padding: 20px 10px 10px;
}

#header {
  text-align: center;
}

ul.settings {
  list-style: outside none none;
}

div.install-instructions > h1 {
  margin: 0px;
  background-color: #f8b124 !important;
  padding-top: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 10px;
  padding-left: 20px !important;
}

div.install-instructions {
  background-color: #f8e164;
  margin: 10px;
}

h1, h2, h3, h4 {
  font: caption;
  font-weight: bold;
}

h1 {
  font-size: 110%;
}

h2 {
  font-size: 103%;
}

h3 {
  font-size: 102%;
}

h4 {
  font-size: 101%;
}

section {
  margin: 0px 0px 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#buttons {
  margin-right: 1em;
  text-align: end;
}

.install-instructions {
  border: 3px none #ffcc00;
  border-radius: 20px;
  padding: 0px;
}

.install-instructions-content {
  padding: 5px 20px;
  border: 3px solid #f8b124;
  border-radius: 0px 0px 20px 20px;
}

.install-instructions-h1 {
  padding-bottom: 10px !important;
  border-radius: 20px 20px 0px 0px;
  border-style: none;
  color: black;
}

button {
  margin: auto;
  padding: 10px 30px;
  min-height: 30px;
  background-color: #f8b124;
  cursor: pointer;
  color: white;
  border-style: none;
  font-size: 11pt;
  font-weight: bold;
  border-radius: 20px;
}

input {
  cursor: pointer;
}

label {
  cursor: pointer;
}

label.disabled { 
  color: #aaa; 
}

.install-instructions-note {
  padding: 5px;
  border: 1pt solid #f8b124;
  border-radius: 0px;
  color: #666666;
  background-color: white;
}

blockquote {
  border-style: none none none solid;
  border-left: 3pt solid #f8b124;
  padding-left: 10px;
}

.instruct {
  padding-left: 20px;
  padding-bottom: 10px;
}

button:hover {
  background-color: #ffc526;
}

.buttonHolder {
  text-align: center;
}

li {
  padding-bottom: 10px;
}

